# generic files to ignore
*.log
*.tmp
*~
*.lock
*.DS_Store
*.swp
*.out
[Tt]humbs.db

#Eclipse files
.project
.classpath
.settings

#Java and Maven
*.class
*.jar
target
lib

#JSystem files
jsystem.properties
jsystem.properties.bu
runnerState.properties
log
myFile.txt
