# generic files to ignore
*.log
*.tmp
*~
*.lock
*.DS_Store
*.swp
*.out
[Tt]humbs.db

#Eclipse files
.project
.classpath
.settings

#Intllij file
*.iml
.idea/

#Java and Maven
*.class
*.jar
target
lib

#Pydev project
.pydevproject

#JSystem files
.ant.properties
.testPropertiesFile_Empty
jsystem.properties
testtimes.properties
jsystem-core-projects/jsystemCore/file.properties
!jsystem-assembly/jsystem-runner/src/main/etc/jsystem.properties
!jsystem-assembly/jsystem-runner/src/main/etc/.project
jsystem-core-projects/jsystemApp/.run.properties
jsystem.properties.bu
runnerState.properties
log
myFile.txt
*.xml.versionsBackup
difido.properties
remoteDifido.properties
bin/
jsystem0.log*
