handlers=java.util.logging.FileHandler java.util.logging.ConsoleHandler
.level=FINE
java.util.logging.FileHandler.limit=10000000
java.util.logging.FileHandler.count=4
java.util.logging.FileHandler.append=true
java.util.logging.FileHandler.formatter=java.util.logging.SimpleFormatter
java.util.logging.FileHandler.pattern=JSystemUtilImpl%g.log
java.util.logging.FileHandler.level=ALL
java.util.logging.ConsoleHandler.level=ALL
java.util.logging.ConsoleHandler.formatter=java.util.logging.SimpleFormatter
